<div class="card white-bg dark-text rounded shadow">
  <div class="card-header white-bg dark-text">
    <button
      class="btn btn-outline-primary rounded float-right primary-border primary-text"
    >
      <i class="fas fa-plus icon-primary"></i>
    </button>
    <h3 class="dark-text">Certificates</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item white-bg dark-text">
      <i class="float-right btn btn-light fas fa-angle-down icon-secondary"></i>
      certificate 1
    </li>
    <li class="list-group-item white-bg dark-text">
      <i class="float-right btn btn-light fas fa-angle-down icon-secondary"></i>
      certificate 2
    </li>
  </ul>
</div>
