node_modules
npm-debug.log
.git
.gitignore
.env
.env1
.env.local
.env.example
.env.production
Dockerfile
.dockerignore
docs
tests
docker-compose*.yml
prometheus.yml
*.md
jest.config.js
.angular
.DS_Store
*.log
coverage
.nyc_output
