# Server Configuration
PORT=5500
HOSTNAME=https://hiyrnow.in
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000,https://hiyrnow.in

# Database
#MONGODB_URI=mongodb://localhost:27017/job-portal
MONGODB_URI=mongodb+srv://HiYrnow:FXa2h7s2yPCo2G0h@hiyrnow.ls77o8o.mongodb.net/?appName=HiYrnow

# Session & Security
SESSION_SECRET=change-this-secret-in-production
SESSION_COOKIE_SECURE=false
# SESSION_COOKIE_SAMESITE=lax

# Redis & Caching
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=

# Telemetry
TELEMETRY_ENABLED=false
PROMETHEUS_PORT=9464

# Email Service
EMAIL_USER=no-reply@hiyrnow.in
EMAIL_PASS=your-email-password

# Third Party Integrations
# Google
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=https://hiyrnow-v1-721026586154.europe-west1.run.app/api/auth/google/callback

# LinkedIn
LINKEDIN_CLIENT_ID=your-linkedin-client-id
LINKEDIN_CLIENT_SECRET=your-linkedin-client-secret
BASE_URL=https://hiyrnow-v1-721026586154.europe-west1.run.app

# Zoom
ZOOM_CLIENT_ID=your-zoom-client-id
ZOOM_CLIENT_SECRET=your-zoom-client-secret
ZOOM_REDIRECT_URI=https://hiyrnow-v1-721026586154.europe-west1.run.app/api/dashboard/integration/video-conference/zoom

# AI Service
GEMINI_API_KEY=AIzaSyCPyyxtl-V0WuEXRxKueImoBV0pLlPPPJg






